.postCard{
    width: 448px; 
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.postHead {
    padding: 16px 10px;
    background-color: #adadadc4;
    color: black;
}

.postHead .postTittle{
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.postSubHead{
    padding: 10px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #ccc;
}

.postSubHead:last-child{
    border-bottom: none;
}

.postSubHead:hover{
    background-color: #ccc;
}

.postSubHead .postImg{
    width: 50px;
    height: 50px;
}

.postSubHead .postsubTittle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    font-size: 18px!important;
}

.postSubHead .postsubTittle span{
    font-size: 15px;
}