body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #f1f1f1;
  }
  
  .box{
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #f1f1f1; */
  }
  
  .main {
    display: flex;
    justify-content: space-between;
  }
  
  .sub_main {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }